html {
    font-family: "Karla", serif;
    font-size: 14px;
    background-color: ;
}
h1 {
    font-size: 40px;
    text-align: center;
    font-family: "Bagel Fat One", serif;;
  }
h2 {
    font-size: 40px;
    text-align: center;
    font-family: "DynaPuff", serif;
}
  
p,
li {
line-height: 2;
letter-spacing: 1px;

}
img {
    width:500px;
}
.box {
    width: 1195px;
    height: 50 px;
    background-color: #C1CE9B;
    border: 5px #2F4858;
    padding: 10px;
    margin-top: 20%;
    text-align: center;
}