
/*FREE WAVY UNDERLINED CODE FOR TEXT (below): works, emphasizes, great!
HTML CODE: <p><span class="wavy">[insert text]</span></p>*/
.wavy {
    text-decoration-skip-ink: none;
    text-decoration-line: underline;
    text-decoration-color: #2F4858;
    text-decoration-style: wavy;
}
html {
    font-family: "Karla", serif;
    font-size: 14px;
    background-color: #DA9F93;
    color: #292736;
}
h1 {
    font-size: 40px;
    text-align: left;
    font-family: "DynaPuff", serif;
    padding-left: 35px;
    color: #05031A;
  }
h3 {
    font-size: 20px;
    color: #05031A;
}
h2 {
    font-size: 30px;
    color: #05031A;
}
.h2indent {
    font-size: 30px;
    color: #05031A;
    padding-left: 35px;
}
.h3indent {
    font-size: 20px;
    color: #05031A;
    padding-left: 35px;
}
div.title {
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 5px;
}
p,
li,
dt,
dl {
    line-height: 2;
    letter-spacing: 1px;
    padding-left: 35px;
}
img {
    width:500px;
}
footer {
    text-align: center;
    padding: 50px 100px 50px 100px;
    background-color:#61A0AF;
    color:#292736;
    border-radius: 15px;
    margin-top: 20px;
}
.curvedbox {
    width: 43%;
    height: 50 px;
    border-radius: 13%;
    background-color: #C1CE9B;
    border: 5px #2F4858;
    padding: 10px;
    margin-top: 1.5%;
    text-align: center;
    margin-left: 35px;
}
.roundbox {
    width: 43%;
    height: 50 px;
    border-radius: 25px;
    background-color: #F5E2C8;
    border: 5px #767522;
    padding: 10px;
    margin-top: 1.5%;
    text-align: center;
    margin-left: 35px;
    margin-bottom: 50px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: #F4BFDB;
    position: sticky;
    top: 0;
    border-radius: 20px;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo {
    float: left;
    width: 10%;
    height: 10%;
    padding: 13px 0;
}
.mathpic {
    float: right;
    margin-right: 80px;
    padding: 2%;
}
.centralmathpic {
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 15%;
    width: 15%;
    background-color:#F5E2C8;
    border: 3px solid #2F4858;
    border-radius: 13px;

}
.cookie {
    height: 8%;
    width: 8%;
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
/*    margin: 0 35px; same thing as below*/
    margin-left: 70px;
    padding-top: 25px;
}
nav a {
    color: #49475B;
    text-decoration: none;
}

nav a:hover {
    color: #C7EBF0;
    padding: 15px;
    background-color: #d87093;
    border-radius: 5px;
    text-decoration: none;
}

div.careerGallery {
    margin-left: 210px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2%;
    border: 3px dotted #F4BFDB;
    border-radius: 10px;
    float: left;
    width: 23%;
    height: 200px;
    overflow-y: scroll;
}

div.careerGallery:hover {
    border: 3px dashed #d87093;
    border-radius: 10px;
    overflow-y: scroll;
}

div.careerGallery img {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    border: 2px solid #F4BFDB;
    margin-top: 5px;
    margin-bottom: 17px;
}
.paramarginleft {
    text-align: left;
    padding-left: 35px;
}